body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-logo {
    float: left;
    margin-top: 20px;
}

.title-super {
    font-size: 60px;
}

.hr-style {
    border-width: 3px;
}

.img-banner {
    width: 100%;
    height: 300px;

}

.img-portfolio {
    width: 100%;
    height: auto;
}